// *** COLORS ***
$mainColor: #ffb100;
$secundaryColor: linear-gradient(to right, #ffffff, #ece9e6);
$lighterBackground: $lighterShadow;
$darkerBackground: rgba(0, 0, 0, 0.9);
$lighterText: #fff;
$darkerText: #000;
$borderColor: $darkerText;
$lighterShadow: #fbfaf8;
$darkerShadow: #0d0d0d;

// *** FONTS ***
$biggerFont: 25px;
$smallerFont: 20px;

//*** BORDERS ***
$radius: 10px;
