* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** All page ***/
.allPage {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

/*** Playground***/
.playGround {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 80%;
  background-image: url(images/Playground.jpg);
  object-fit: fill;
  background-position: center;
  position: relative;
  top: 10%;
  left: 10%;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #000;
}
.separateBox {
  flex-basis: 39%;
}
.middleBox {
  position: relative;
  display: flex;
  justify-content: center;
  flex-basis: 20%;
}
.rules {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -250px;
  font-size: 20px;
  text-align: justify;
  background-color: #fbfaf8;
  color: #000;
  max-width: 500px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #fbfaf8;
  z-index: 100;
}

/*** Total score ***/
.totalScore {
  font-size: 25px;
  color: #fbfaf8;
  font-weight: bold;
}
.totalScore p:nth-last-of-type(2) {
  font-size: 20px;
  text-align: center;
}
.totalScore0 {
  margin: 100px 50px;
  text-align: center;
  background-color: #000;
  border-radius: 10px;
  border: 2px solid #ffb100;
  padding: 10px 10px;
}
.totalScore1 {
  margin: 100px 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.901);
  border-radius: 10px;
  border: 2px solid #ffb100;
  padding: 10px 10px;
}

/*** Current score ***/
.currentScore {
  width: 150px;
  height: 150px;
  background: #fbfaf8;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #fbfaf8;
}
.currentScore p {
  font-size: 20px;
  color: #000;
  text-align: center;
  padding-top: 20px;
}
.currentScore p:nth-child(2) {
  font-size: 40px;
}
.currentScore0 {
  margin: 70px auto;
}
.currentScore1 {
  margin: 70px auto;
}

/*** Buttons ***/
.middleText {
  position: absolute;
  top: 70%;
  text-align: center;
  font-size: 25px;
  color: #fff;
}
.btn {
  width: 150px;
  font-size: 20px;
  color: #000;
  border: 2px solid #000000;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.btn:hover {
  color: #fbfaf8;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.905);
  cursor: pointer;
}
.rulesButton {
  width: 30px;
  height: 30px;
  line-height: 0.1px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #fbfaf8;
  padding: 5px 5px;
  border-radius: 10px;
  background: none;
  cursor: pointer;
}
.rulesButton:hover {
  color: #ffb100;
}
/*** Dice ***/
.dice {
  margin: auto;
}

/*** Active marker***/
.active {
  color: #fbfaf8;
  border: 2px solid #ffb100;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px #ffb100;
}
